---
import Page from "@layouts/page";
---

<Page title="Alfa Mike">
	<h1>Alfa Mike</h1>
	<p>
		Sharing with you and everyone some of my experiences in web development and other technical stuffs that I find interesting.<br/>
		I am also running a few others blogs: 
	</p>
	<ul>
		<li><a href="#">bravotango.music</a> - Sharing my love for music</li>
      	<li><a href="#">bravotango.art</a> - Sharing the cool stuffs in art and my journey into graphic design</li>
	</ul>
</Page>
